<link rel="stylesheet" href="styles/login.css">
<div class="main">
    <form action="/Home" method="post">
        <label>User name</label>
        <input type="text" name="user" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="login" class="login">
    </form>
</div>