body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #000000;
  color: #040404;
  line-height: 1.6;
}

.blog-title{
  color: white;
}

#newPostBtn {
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #27ae60;
}

.container>ul {
  margin-top: 5rem;
  list-style-type: none;
  color: #000000;
}

.container>ul>li {
  margin-bottom: 5rem;
  padding: 3rem 2rem;
  background-color: #fff;
}

li:last-child {
  border-bottom: none;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #888;
}

ul > li >a{
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 4px;
}

a#edit {
  background-color: #007bff;
  margin-right: 2rem;
}

a#remove {
  background-color: #e74c3c;
}

a#edit:hover {
  background-color: #0066ff;
  color: white;
}

a#remove:hover {
  background-color: #c0392b;
  color: white;
}
