body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #000000;
  color: #333;
  line-height: 1.6;
}

#blogs, li{
  display: block;
  margin-bottom: 10rem;
}

